extends layout

block pagestyles
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.css")
	link(rel="stylesheet", href="/styles/locator.css")

block content
	div.row-fluid.info-header.clearfix
		div.pull-left.col-md-2.col-md-offset-1.brand-container
			img.brand(src="/images/avery.png", alt="Avery Brewery logo")

		article#Description.centerHorizontal.col-md-7.description-container(data-beer=beer)
			if beer && beer.description
				p.hipster-text=beer.description
			if beer && beer.name
				p#beerSignature.signature-text=beer.name

	article#root.row-fluid.map-and-info.clearfix(data-all-beer=allbeer)

		section.col-md-8.col-md-offset-1
			div#map(data-beer-id=id)
		section.col-md-2
			p.list-header
				if beer && beer.name
					= beer.name
					|  Availability
			ul#locations-list

block pagescripts
	script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
	script(src="/scripts/locator-module.js")